---
import { defaultLang, useTranslations, type Language } from '@libs/i18n/config';

export interface Props {
  lang?: Language;
  postTitle: string;
}

const { lang = defaultLang, postTitle } = Astro.props;

const t = useTranslations(lang);
---

<nav class="mb-6">
  <ol class="flex items-center space-x-2 text-sm">
    <li>
      <a href=`/${lang}` class="text-white/70 transition-colors hover:text-white">
        {t('breadcrumb.home')}
      </a>
    </li>
    <li class="text-white/50">
      <svg class="h-4 w-4" fill="currentColor" viewBox="0 0 20 20">
        <path
          fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd"></path>
      </svg>
    </li>
    <li>
      <a href=`/${lang}/stories` class="text-white/70 transition-colors hover:text-white">
        {t('breadcrumb.travelStory')}
      </a>
    </li>
    <li class="text-white/50">
      <svg class="h-4 w-4" fill="currentColor" viewBox="0 0 20 20">
        <path
          fill-rule="evenodd"
          d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
          clip-rule="evenodd"></path>
      </svg>
    </li>
    <li class="font-medium text-white">{postTitle}</li>
  </ol>
</nav>
